@font-face {
    font-family: "overwatchfont";
    src: url('font/OPTIBankGothic-Medium.otf');
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
    background-color: black;
    scroll-behavior: smooth;
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
}
input,textarea{
    outline: none;
    
    }

/*  NAVIGATION  */
header {
    display: grid;
    justify-items: center;
    background-color: black;
    padding-bottom: 12px;
}
ul {
    display: flex;
    margin: auto;
    justify-content: center;
    list-style: none;
    margin-top: 8px;
    padding: 3px;
    font-family: "overwatchfont";
    text-decoration: none;
    font-size: 30px;
    background-color: black;
    border: solid 5px black;
    align-self: center;
}

li {
    margin-left: 23px;
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
}

a:hover {


    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);

}

a {
    list-style: none;
    text-decoration: none;
    color: white;
}


#logo {
    height: 55px;
    position: absolute;
margin-top: 10px;
    transform: translate(34px, 0);
}

.alertecomm {

    padding-top: 5px;
    animation: fadein 2s;
    color: #d30000;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin: auto;
    text-shadow: 1px 1px 2px rgb(90, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);


}
h1 {
    font-size: 35px;color: #ffffff;font-family: "overwatchfont";
    text-shadow: 1px 1px 2px rgb(29 29 29), 0 0 1em rgb(0 0 0), 0 0 0.2em rgb(0 0 0);
}
#error{
padding-top: 0%;
PADDING-bottom: 43px;

}
#activitees {
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    text-align: center;
    background: url('img/map1.jpg');
    border-radius: 15px;
    width: 60%;
    margin: auto;
    background-position: center;
    background-attachment: initial;
    font-family: "overwatchfont";
    height: 600px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
}


#descriptionactivitees {

    color: rgb(255, 255, 255);
    display: block;
    padding-top: 5px;
    font-size: 20px;




}

body {


    margin: 0%;
        background-image: url('img/fond.jpg');
        background-attachment: fixed;
        background-position: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    
    
    
    
    }

.jaime {
    color: yellow
}

#commmaria {

    float: left;
    position: absolute;
    margin-top: 550px;
    margin-left: 60px;

    text-align: center;
    border-radius: 23px;
    text-shadow: 1px 1px 2px rgb(0, 180, 171), 0 0 1em rgb(0, 152, 199), 0 0 0.2em rgb(0, 0, 0);

    animation: fadein 2s;
}

.commmaria {
    font-size: 12px;
    color: antiquewhite;

}

#reservationajout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(255, 255, 255);
    background: url("img/actvitieanna.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    width: 65%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 12px;
font-family: 'overwatchfont';
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(235, 235, 235), 0 0 0.2em rgb(0, 0, 0);
}

#img1,
#img2,
#img3 {
    border-radius: 90%;
    width: 250PX;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
}

#lasergame,
#bodypainting,
#spectales {

    margin: 30px;





}

#lasergame>div,
#bodypainting>div,
#spectales>div {
    padding: 4px;


    margin: auto;
    margin-top: 20px;
    width: max-content;
    align-items: center;
    text-align: center;
    justify-content: center;

}



#apercu {
    background-color: aliceblue;
    width: 50%;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    font-family: "overwatchfont";
    border-radius: 12px;
    border: solid 1px rgb(25, 220, 255);
    margin-top: 23px;
    background: url('img/RESERVATION.jpg');
    background-position: initial;
    color: white;
    ;
}

div>button {
    color: rgb(255, 255, 255);
    background-color: #000000;

    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    font-size: large;
    font-family: "overwatchfont";
    border-radius: 2px;
}

div>button:hover {


    box-shadow: 0px 0px 13px rgb(25, 220, 255),
        0px 0px 1px #000000;
}

span {
    color: rgb(240, 136, 0);
    background-color: #000000;


}

#bouttonbody {
    color: #ffffff;
    background-color: #000000;
    margin: auto;
    margin-top: 16PX;
    margin-bottom: 10px;
    font-size: 15PX;
    font-family: "overwatchfont";
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;

}

#valider,
#telechargement,
#nouvellereservation {
    color: #ffffff;
    background-color: #000000;
    margin: auto;
    margin-top: 16PX;
    margin-bottom: 10px;
    font-size: 10PX;
    font-family: "overwatchfont";
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;

}
#facebook,
#twitter,
#youtube {
    text-decoration: none;
    align-items: center;
    padding: 23px;

}

#twitter {

    width: 50px;

}

#facebook {

    width: 50px;
}

#youtube {


    width: 50px;
}



#social {

    display: flex;
    justify-content: center;


}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'overwatchfont';
    padding: 15px;
}

/* todo ---------------------------------------Responsive mediaquery tablette ---------------------------------------*/

@media(min-width: 760px) and (max-width: 1388px) {

    body{
        
        margin: 0%;
        
                
            }
            ul {
                font-size: 15px;
            }

    #activitees {
        width: 700px;
    }

    #img1,
    #img2,
    #img3 {
        width: 180PX;

    }

    #reservationajout {
        width: 80%;

    }

    #img1,
    #img2,
    #img3 {
        width: 150PX;

    }
    div>button {
        color: rgb(255, 255, 255);
        background-color: #000000;
    
        box-shadow: 0px 0px 10px rgb(0, 0, 0),
            0px 0px 10px #000000;
        font-size: 17px;
        font-family: "overwatchfont";
        border-radius: 2px;
        
    }

button{
    cursor: pointer;
}
}
/* todo--------------------------------------Responsive mediaquery phone ---------------------------------------*/
@media (max-width: 759px) {
    header {
        display: flex;
        justify-items: center;
        background-color: black;
        padding-bottom: 12px;
        width: 100%;
    }
    header a{
font-size: 8px;

    }
    header li{
        padding: 0%;
    }
    
    body{
        width: 100%;
        margin: 0%;
    }
    ul {
        font-size: 13px;
    }
     #activitees {
        width: 350px;

        height: 300px;
    }

    h1 {
        font-size: 25px;
    }

    #commmaria {
        float: left;
        margin-top: 250px;
        margin-left: 30px;
    }

    #img1,
    #img2,
    #img3 {

        width: 90PX;

    }
    #lasergame,
#bodypainting,
#spectales {

    margin-left: 11px;
    margin-right: 11px;





}
div>button {
    color: rgb(255, 255, 255);
    background-color: #000000;

    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    font-size: 8px;
    font-family: "overwatchfont";
    border-radius: 2px;
    
}
#reservationajout {
    width: 90%;

}
#reservationajout p{

    font-size: 10px;
}
#logo{
    transform: translate(12px, 0px);
height: 40px;

}
#aperçu{

width: 200%;

}
#jaimeboutton{
    font-size: 35px;
}
#bouttonspectacle,#bouttonlaser,#ajoutbody{
    font-size: 8px;
}

}