@font-face {
    font-family: "overwatchfont";
    src: url('font/OPTIBankGothic-Medium.otf');
    font-display: fallback;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes scale{
    0%{
    transform: scale(1);
    box-shadow: 0px 0px 13px red;
    
    }
     
    
    100%{
        opacity: 1;
        transform: scale(1.3,1.3) 
    }
    
    
    
    } 

html {
    background-color: black;
    scroll-behavior: smooth;

    margin: 0;
    padding: 0%;




}
#particles{
    display: block;
    z-index: 6;
    width: 100%;
    height:100%;
    position: absolute;
    pointer-events: none;
}
.jaime{
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
animation: fadein 1s linear forwards ;
}
#jaimeboutton{
   
        
       

    

}
.jaimebouttonanim{
    animation: scale 0.6s alternate infinite;
      color: #d30000;
    box-shadow: 0px 0px 13px red;  



}
button {

    cursor: pointer;
}

input,
textarea {
    outline: none;

}

/*  NAVIGATION  */
header {
    justify-items: center;
    background-color: black;
    padding-bottom: 12px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
}

ul {
    display: flex;
    margin: auto;
    justify-content: center;
    list-style: none;
    margin-top: 8px;
    padding: 3px;
    font-family: "overwatchfont";
    text-decoration: none;
    font-size: 30px;
    background-color: black;
    border: solid 5px black;
    align-self: center;
}

li {
    margin-left: 23px;
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
}

a:hover {


    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);

}

a {
    list-style: none;
    text-decoration: none;
    color: white;
}


#logo {
    height: 55px;
    position: absolute;
    margin-top: 10px;
    transform: translate(34px, 0);

}

.alertecomm {

    padding-top: 5px;
    animation: fadein 2s;
    color: #d30000;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin: auto;
    text-shadow: 1px 1px 2px rgb(90, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);


}

h1 {
    font-size: 35px;
    color: #ffffff;
    font-family: "overwatchfont";
    text-shadow: 1px 1px 2px rgb(29 29 29), 0 0 1em rgb(0 0 0), 0 0 0.2em rgb(0 0 0);
    margin: auto;
    margin-top: 34px;
    margin-bottom: 34px;

}

#error {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#activitees {
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    text-align: center;
    background: url('img/map1.jpg');
    border-radius: 15px;
    width: 50vw;
    margin: auto;
    background-position: center;
    background-attachment: initial;
    font-family: "overwatchfont";
    height: 80vh;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    position: relative;
}


#descriptionactivitees {

    color: rgb(255, 255, 255);
    display: block;
    padding-top: 5px;
    font-size: 20px;




}

body {
    background-image: url('img/fond.jpg');
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    justify-self: center;
    align-self: center;
}

.jaime {
    color: yellow;
   
}

#commmaria {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 23px;
    text-shadow: 1px 1px 2px rgb(0, 180, 171), 0 0 1em rgb(0, 152, 199), 0 0 0.2em rgb(0, 0, 0);
    animation: fadein 2s;
    
}

.commmaria {
    font-size: 12px;
    color: antiquewhite;
    position: absolute;
    top: 92%;

}

#reservationajout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(255, 255, 255);
    background: url("img/actvitieanna.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    width: 55vw;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 12px;
    font-family: 'overwatchfont';
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(235, 235, 235), 0 0 0.2em rgb(0, 0, 0);
}

#img1,
#img2,
#img3 {
    border-radius: 90%;
    width: 250PX;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
}



#lasergame>div,
#bodypainting>div,
#spectales>div {
    padding: 4px;
    margin: auto;
    margin-top: 20px;
    width: max-content;
    align-items: center;
    text-align: center;
    justify-content: center;

}



#apercu {
    background-color: aliceblue;
    width: 30VW;
    
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    font-family: "overwatchfont";
    border-radius: 12px;
    border: solid 1px rgb(25, 220, 255);
    margin-top: 23px;
    background: url('img/RESERVATION.jpg');
    background-size: cover;
    color: white;
    position: relative;
    padding-bottom: 85px;
    max-height: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;

}

div>button {
    color: rgb(255, 255, 255);
    background-color: #000000;

    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    font-size: large;
    font-family: "overwatchfont";
    border-radius: 2px;
}

div>button:hover {


    box-shadow: 0px 0px 13px rgb(25, 220, 255),
        0px 0px 1px #000000;
}

span {
    color: rgb(240, 136, 0);
    background-color: #000000;
    position: relative;
    max-width: max-content;
    margin: 0%;


}

#bouttonbody {
    color: #ffffff;
    background-color: #000000;
    margin: auto;
    margin-top: 16PX;
    margin-bottom: 10px;
    font-size: 15PX;
    font-family: "overwatchfont";
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;

}

#valider,
#telechargement,
#nouvellereservation {
    color: #ffffff;
    background-color: #000000;
    margin: auto;
    margin-top: 16PX;
    margin-bottom: 10px;
    font-size: 10PX;
    font-family: "overwatchfont";
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;

}

#facebook,
#twitter,
#youtube {
    text-decoration: none;
    align-items: center;
    padding: 23px;

}

#twitter {

    width: 50px;

}

#facebook {

    width: 50px;
}

#youtube {


    width: 50px;
}



#social {

    display: flex;
    justify-content: center;


}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'overwatchfont';
    padding: 15px;
}

/* todo ---------------------------------------Responsive mediaquery 1920 ---------------------------------------*/
@media only screen and (min-width: 1920px) {
    html {

        box-sizing: border-box;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
    }

    header {
        padding-bottom: 3px;
        display: flex;
        justify-items: center;
        background-color: black;

        width: 100%;
    }

    header a {


        font-size: 45px;
    }

    ul {

        font-size: 50px;

    }

    header li {

        padding: 0%;
        margin-top: 8px;
        padding-left: 20px;
        text-align: center;

    }

    #img1,
    #img2,
    #img3 {
        width: 20vw;


    }

    div #bodypainting,
    div #spectales,
    div #lasergame {
        text-align: center;
        margin: 2vw;




    }

    div #bodypainting p,
    div #spectales p,
    div #lasergame p {
        font-size: 32px;


    }

    #ajoutbody,
    #bouttonscpectacle,
    #bouttonlaser {
        font-size: 30px;



    }

    #navigation {
        margin: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin: auto;
    }

    #logo {

        transform: translate(34px, 0px);
        height: 80px;
        margin-top: 10px;
    }

    #reservationajout p {


        font-size: 9px;
    }

    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 40px;
    }

    #activitees {
        width: 65vw;
        height: 75vh;
        background-position: center;
        background-size: cover;

    }

    #descriptionactivitees p {
        font-size: 30px;
        margin-top: 1vw;


    }

    .commmaria {
        font-size: 20px;
        margin-top: 0;
    }

    #jaime P {
        margin-top: 60px;
        font-size: 40px;
    }

    #reservationajout {
        width: 1500px;
        height: 60vh;

    }

    #apercu {
        width: 55vw;
        height: 28vw;
        background-position: center;
        font-size: 20px;

    }

    input {
        font-size: 20px;
    }

    footer {
        font-size: 2vw;


    }
    #youtube, #twitter ,#facebook {
        width: 5vw;
        
        
        }

    #jaimeboutton {
        font-size: 40px;
        

    }
    

    #navigation li {
        font-size: 45px;
        margin-left: 65px;
    }
    #valider, #nouvellereservation,#telechargement{
        height: 2vw;
        width: 15vw;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1760px) AND (max-width:1919px) {


    #activitees {
        width: 1000px;
        height: 600px;
        background-position: center;
        background-size: cover;

    }

    #img1,
    #img2,
    #img3 {
        width: 240px;
margin: 18px;

    }
    div #bodypainting,
    div #spectales,
    div #lasergame {
        text-align: center;
        margin: 9px;




    }
    .jaime{

        margin-top: 34px;
    }
}
/* todo ---------------------------------------Responsive 1440 ---------------------------------------*/
@media only screen and (min-width: 1444px) and (max-width: 1760px) {
    html {

        box-sizing: border-box;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
    }

    header {
        padding-bottom: 3px;
        display: flex;
        justify-items: center;
        background-color: black;

        width: 100%;
    }

    header a {


        font-size: 35px;
    }

    ul {

        font-size: 13px;

    }

    header li {

        padding: 0%;
        margin: 0px;
        margin-left: 55px;
        text-align: center;

    }

    #img1,
    #img2,
    #img3 {
        width: 25vw;


    }

    div #bodypainting,
    div #spectales,
    div #lasergame {
        text-align: center;
        margin: 9px;




    }

    div #bodypainting p,
    div #spectales p,
    div #lasergame p {
        font-size: 32px;


    }

    #ajoutbody,
    #bouttonscpectacle,
    #bouttonlaser {
        font-size: 30px;



    }

    #navigation {
        margin: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin: auto;
    }

    #logo {

        transform: translate(12px, 0px);
        height: 70px;
        margin-top: 5px;
    }

    #reservationajout p {


        font-size: 9px;
    }

    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 50px;
    }

    #activitees {
        width: 1100px;
        height: 600px;
        
        background-position: center;
        background-size: cover;

    }

    #descriptionactivitees p {
        font-size: 20px;
        margin-top: 9px;


    }

    .commmaria {
 margin-top: 0;
 font-size: 16px;
    }

    #jaime P {
        margin-top: 40px;
        font-size: 30px;
    }

    #reservationajout {
        width: 84vw;
       
    }

    #apercu {
        width: 60vw;
        height: 30vw;
        background-position: center;
        font-size: 25px;

    }

    input {
        font-size: 20px;
    }

    footer {
        font-size: 32px;


    }

    #jaimeboutton {
        font-size: 20px;

    }

}

/* todo ---------------------------------------Responsive IpaD PRO ---------------------------------------*/

@media (min-width: 1024px) and (max-width: 1439px) {
    html {

        box-sizing: border-box;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
    }

    header {
        padding-bottom: 3px;
        display: flex;
        justify-items: center;
        background-color: black;

        width: 100%;
    }

    header a {


        font-size: 30px;
    }

    ul {

        font-size: 13px;

    }

    header li {

        padding: 0%;
        margin: 0px;
        margin-left: 35px;
        text-align: center;

    }

    #img1,
    #img2,
    #img3 {
        width: 260px;


    }

    div #bodypainting,
    div #spectales,
    div #lasergame {
        text-align: center;
        margin: 9px;




    }

    #ajoutbody,
    #bouttonscpectacle,
    #bouttonlaser {
        font-size: 22px;



    }

    #navigation {
        margin: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin: auto;
    }

    #logo {

        transform: translate(12px, 0px);
        height: 50px;
        margin-top: 5px;
    }

    #reservationajout p {


        font-size: 20px;
    }

    h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 35px;
    }

    #activitees {
        width: 780px;
        height: 500px;
        background-position: center;
        background-size: cover;

    }

    #descriptionactivitees p {
        font-size: 25px;
        margin-top: 9px;


    }

    .commmaria {
        font-size: 11px;
        margin-top: 0;
    }

    #jaime P {
        margin-top: 40px;
        font-size: 30px;
    }

    #reservationajout {
        width: 74vw;
        height: 450px;

    }

    #apercu {
        
        
        background-position: center;
        font-size: 23px;
        width: 700px;

    }

    input {
        font-size: 20px;
    }

    footer {
        font-size: 12px;


    }

    #jaimeboutton {
        font-size: 30px;

    }

}

/* todo ---------------------------------------Responsive iPAD ---------------------------------------*/

@media (min-width: 768px) and (max-width: 1023px) {

    html {

        box-sizing: border-box;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
    }

    header {
        padding-bottom: 3px;
        display: flex;
        justify-items: center;
        background-color: black;

        width: 100%;
    }

    header a {


        font-size: 20px;
    }

    ul {

        font-size: 13px;

    }

    header li {

        padding: 0%;
        margin: 0px;
        margin-left: 20px;
        text-align: center;

    }

    #img1,
    #img2,
    #img3 {
        width: 26vw;


    }

    div #bodypainting,
    div #spectales,
    div #lasergame {
        text-align: center;
        margin: 9px;




    }

    #ajoutbody,
    #bouttonscpectacle,
    #bouttonlaser {
        font-size: 16px;



    }

    #navigation {
        margin: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin: auto;
    }

    #logo {

        transform: translate(12px, 0px);
        height: 38px;
        margin-top: 5px;
    }

    #reservationajout p {


        font-size: 15px;
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 29px;
    }

    #activitees {
        width: 80vw;
        height: 45vh;
        background-position: center;
        background-size: cover;

    }

    #descriptionactivitees p {
        font-size: 18px;
        margin-top: 2px;


    }

    .commmaria {
        font-size: 12px;
        margin-top: 0;
    }

    #jaime P {
        margin-top: 40px;
        font-size: 20px;
    }

    #reservationajout {
        width: 700px;
        height: 400px;

    }

    #apercu {
        width: 80vw;
        height: 30vh;
        background-position: center;

    }

    footer {
        font-size: 12px;


    }

}

/* todo ---------------------------------------Responsive iPHONE 7 etc ---------------------------------------*/

@media (min-width: 414px) and (max-width: 767px) {

    html {

        box-sizing: border-box;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
    }

    header {
        padding-bottom: 3px;
        display: flex;
        justify-items: center;
        background-color: black;

        width: 100%;
    }

    header a {


        font-size: 8px;
    }

    ul {

        font-size: 13px;

    }

    header li {

        padding: 0%;
        margin: 0px;
        margin-left: 20px;
        text-align: center;

    }

    #img1,
    #img2,
    #img3 {
        width: 26vw;


    }

    div #bodypainting,
    div #spectales,
    div #lasergame {
        text-align: center;
        margin: 9px;



    }

    #ajoutbody,
    #bouttonscpectacle,
    #bouttonlaser {
        font-size: 10px;



    }

    #navigation {
        margin: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin: auto;
    }

    #logo {

        transform: translate(12px, 0px);
        height: 30px;
        margin-top: 5px;
    }

    #reservationajout p {


        font-size: 9px;
    }

    h1 {
        margin-top: 14px;
        margin-bottom: 14px;

        font-size: 20px;
    }

    #activitees {
        width: 90vw;
        height: 40vh;
        background-position: center;
        background-size: cover;

    }

    #descriptionactivitees p {
        font-size: 10px;
        margin-top: 2px;


    }

    .commmaria {
        font-size: 6px;
        margin-top: 0;
    }

    #jaime P {
        margin-top: 20px;
        font-size: 15px;
    }

    #reservationajout {
        width: 94vw;
        height: 29vh;

    }

    #apercu {
        width: 90vw;
        
        background-position: center;

    }

    footer {
        font-size: 12px;


    }

}


/* todo ---------------------------------------Responsive iPHONE 6 ---------------------------------------*/

@media (min-width: 375px) and (max-width: 413px) {

    html {

        box-sizing: border-box;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
    }

    header {
        padding-bottom: 3px;
        display: flex;
        justify-items: center;
        background-color: black;

        width: 100%;
    }

    header a {


        font-size: 8px;
    }

    ul {

        font-size: 13px;

    }

    header li {

        padding: 0%;
        margin: 0px;
        margin-left: 20px;
        text-align: center;

    }

    #img1,
    #img2,
    #img3 {
        width: 26vw;


    }

    div #bodypainting,
    div #spectales,
    div #lasergame {
        text-align: center;
        margin: 9px;



    }

    #ajoutbody,
    #bouttonscpectacle,
    #bouttonlaser {
        font-size: 6px;



    }

    #navigation {
        margin: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin: auto;
    }

    #logo {

        transform: translate(12px, 0px);
        height: 30px;
        margin-top: 5px;
    }

    #reservationajout p {


        font-size: 9px;
    }

    h1 {
        margin-top: 14px;
        margin-bottom: 14px;

        font-size: 20px;
    }

    #activitees {
        width: 90vw;
        height: 40vh;
        background-position: center;
        background-size: cover;

    }

    #descriptionactivitees p {
        font-size: 10px;
        margin-top: 2px;


    }

    .commmaria {
        font-size: 6px;
        margin-top: 0;
    }

    #jaime P {
        margin-top: 20px;
        font-size: 15px;
    }

    #reservationajout {
        width: 94vw;
        height: 29vh;

    }

    #apercu {
        width: 90vw;
       
        background-position: center;

    }

    footer {
        font-size: 12px;


    }
}