@font-face {
    font-family: "overwatchfont";
    src: url('font/OPTIBankGothic-Medium.otf');
    font-display: fallback;
}

/*  HTML BODY FOOTER  */
input,
textarea {
    outline: none;

}

button {

    cursor: pointer;
}

html {
    background-color: black;
    scroll-behavior: smooth;
    padding: 4px;
    box-sizing: border-box;
    margin: 0;


}

#intro {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
    font-family: 'overwatchfont';
    border: solid 1px rgb(0, 174, 218);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;

    background-image: url(img/comm.jpg);


    background-position: center;
}

.dva {
    grid-column: 1fr;
    grid-row: 2fr;
    margin-left: 5vw;
    width: 40vw;
}

body {


    margin: 0%;
    background-image: url('img/fond.jpg');
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;




}

section {

    display: flex;
    background-color: rgb(80, 80, 80);
    background-image: url(img/comm.jpg);
    background-position: center;

    font-family: "overwatchfont";
    justify-content: center;



    border-radius: 12px;
    border: solid 2px black;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
}


/*  NAVIGATION  */

ul {
    display: flex;
    margin: auto;
    justify-content: center;
    list-style: none;
    margin-top: 0px;
    padding-bottom: 9px;
    font-family: "overwatchfont";
    text-decoration: none;
    
    background-color: black;
    
    align-self: center;
}

li {
    margin-left: 23px;
    text-decoration: none;
    list-style: none;
    
    font-size: 20px;
   height: 8px;
   margin-bottom: 14px;
   margin-top: 0%;
   padding-top: 0%;
}

a:hover {


    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);

}

a {
    list-style: none;
    text-decoration: none;
    color: white;
}


#logo {
    transform: translate(9px, 0px);
    height: 50px;
    margin-top: 0px;
    position: absolute;
}

#video {



    width: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    margin-top: 4vh;
    width: fit-content;
    height: 400px;
    margin-right: 2vw;
    margin-bottom: 1vh;
    background-color: #000000;
    border: solid 1px rgb(0, 174, 218);
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    border-radius: 12px;
}

#dva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


}

/*  TEXTES  */

h1 {
    font-size: 45px;
    text-shadow: 1px 1px 2px rgb(29, 29, 29), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

h2 {
    color: #ffffff;
    font-family: "overwatchfont";
    font-size: medium;
    text-shadow: 1px 1px 2px rgb(29, 29, 29), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}



#titre {
    font-family: "overwatchfont";
    font-size: x-large;
    margin: auto;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 2px rgb(29, 29, 29), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    padding: 45px;
}

#infoparc {
    color: #ffffff;


}




#tarifs {
    background: url(img/TARIF.jpg) center;
    width: 600px;
    height: 350px;
    border: solid 2px black;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    border-radius: 40px;
    display: block;
    color: blanchedalmond;
    margin: auto;
    margin-top: 24px;
    text-align: center;



}

#zenya {
    opacity: 0;
    width: 80%;

}

.actif {
    opacity: 1;
    animation: fadein2 1s forwards;
}

.actif2 {
    opacity: 1;
    animation: fadein3 1s forwards;
}

#textinfo {
    opacity: 0;

}


#infotarif {
    position: absolute;

    z-index: 2;
    top: 100%;
    left: 0%;
    margin-top: 90px;




}

#infotarif2 {
    position: absolute;
    top: 100%;
    margin-top: 430px;
    margin-left: 28px;
    z-index: 2;
    color: #ffffff;
    display: flex;

}

#tarifs>p {

    padding-top: 5px;
    padding-bottom: 0px;
    line-height: 34px;
    cursor: help;

}

#tariftitre {
    font-size: 40px;



}

/*  ESPACE COMMENTAIRE  */
.alertecomm {

    padding-top: 5px;
    animation: fadein 2s;
    color: #d30000;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin: auto;
    text-shadow: 1px 1px 2px rgb(90, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);


}




.comms {
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-bottom: 14px;
    font-size: 10px;
    font-family: "overwatchfont", Courier, monospace;

    color: #ffffff;


}

#comminput {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;


}

#pseudoinput {

    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;


}

#imgbastion {
    width: 20%;
    animation: fadein 2s;
    text-shadow: 1px 1px 2px rgb(29, 29, 29), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);

}

#logo_connexion {
    width: 20px;
    animation: fadein 2s;
    padding-top: 5px;




}

#commentairefirebase {
    text-align: center;
    display: list-item;
    background-color: #000000;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
    background: url('img/comm.jpg');
    text-shadow: 1px 1px 2px rgb(29, 29, 29), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    list-style: none;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    border: solid 1px rgb(214, 214, 214);
}




#bouttonactivitees {
    color: #ffffff;
    background-color: #000000;
    margin: auto;
    margin-top: 16PX;
    margin-bottom: 10px;
    font-size: 15PX;
    font-family: "overwatchfont";
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;

}

#divbouttonactivitees {
    display: flex;
    justify-self: center;

}

#poster {
    color: #ffffff;
    background-color: #000000;
    margin: auto;
    margin-top: 16PX;
    margin-bottom: 10px;
    font-size: 15PX;
    font-family: "overwatchfont";
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;

}


#logotitre {
    width: 100%;
}

#news {
    text-align: center;
}

header {

    justify-items: center;
    background-color: black;
    padding-bottom: 12px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
}

button>img {
    width: 50px;




}

nav {
    background-color: black;


}

section {
    border: solid 1px rgb(0, 174, 218);
    box-shadow: 0px 0px 10px rgb(0, 0, 0),
        0px 0px 10px #000000;
    border-radius: 12px;
    text-shadow: 1px 1px 2px rgb(29, 29, 29), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);


}




#facebook,
#twitter,
#youtube {
    text-decoration: none;
    align-items: center;
    padding: 23px;

}

#twitter {

    width: 50px;

}

#facebook {

    width: 50px;
}

#youtube {


    width: 50px;
}

#blizzard {
    float: left;
    padding-bottom: 15px;


}

#social {

    display: flex;
    justify-content: center;


}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: black;
}

.card {
    width: 45px;


}

h1 {


    color: #ffffff;
}

#overwatch {
    margin: 0;


}

footer {
    font-family: "overwatchfont";
    padding: 15px;
    font-size: 12px;

}





.carousel {
    position: relative;
    border: solid 1px rgb(0, 174, 218);
    border-radius: 5px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;

}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 90%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

@keyframes fadein {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }

}

@keyframes fadein2 {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
        transform: translateX(20px);
    }

}

@keyframes fadein3 {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
        transform: translateX(45px);
    }

}

/* todo--------------------------------------- MEDIA QUERIES ---------------------------------------*/


/* todo---------------------------------------Responsive mediaquery 1920 ---------------------------------------*/
@media only screen and (min-width: 1920px) {
    video {
        height: 20vw;
        width: 50vw;

    }

    #infotarif {
        top: 100%;
        left: 5%;

    }

    #infotarif2 {
        top: 110%;
        left: 10%;
    }

    #navigation li {
        font-size: 45px;
        margin-left: 65px;
    }

    #infoparc {
        font-size: 30px;
    }

    #logo {
        width: 80px;
       

    }

    #dva {
        width: 45vw;

    }

    #titre {
        font-size: xx-large;

    }

    #tarifs {
        height: 24vw;
        width: 39vw;

    }

    #logo_connexion2 {
        width: 60%;
    }

    #pseudoinput {
        font-size: 2vw;
    }

    #comminput {
        font-size: 2vw;

    }

    #commentairefirebase {
        width: 52vw;
    }

    .comms {
        font-size: x-large;
        margin: 5vw;
        line-height: 3vw;
    }

    #youtube,
    #twitter,
    #facebook {
        width: 5vw;


    }

    footer {
        font-size: 2vw;
    }

    #social {
        column-gap: 3vw;
    }

    #tarifs p {
        font-size: 1.5vw;
        margin-bottom: 2vw;
    }

    p#tariftitre {
        font-size: 3vw;

    }

    #zenya {
        width: 100%;

    }

    button {

        width: 20vw;
        height: 3vw;
    }

    #poster {
        font-size: x-large;
        width: 15vw;
        height: 2vw;
    }

    button a {
        font-size: x-large;
    }

   

  

    #video {
        box-sizing: border-box;

    }
#navigation{
MARGIN-top: 10px;
    PADDING-bottom: 15px;
    align-items: center;
}


}@media only screen and (min-width:2000px){



    
}
  @media only screen and (min-width:1660px)  {
        video {
            height: 30vw;
            width: 50vw;

        }header a{
            font-size: 45px;
        }#logo {
            transform: translate(12px, 0px);
            height: 70PX;
            margin-top: 0px;
            position: absolute;
        }
        #navigation{
padding-top: 10px;
            margin-bottom: 25px;
        }
    } 
    @media only screen and (min-width:1400px) and (max-width:1660px){
        video {
            height: 400px;
            width: 680px;

        } header a{
            font-size: 35px;
        }#logo {
            transform: translate(12px, 0px);
            height: 70px;
            margin-top: 0px;
            position: absolute;
        }
        #navigation{
margin-top: 6px;
            margin-bottom: 18px;
           
        }
        #navigation a{
            margin-top: 6px;
                        margin-bottom: 18px;
                       margin-left: 34px;
                    }
    }
@media only screen and (min-width:1200px) and (max-width:1440PX) {
    video {
        height: 400px;
        width: 600px;

    }
    header a{
        font-size: 30px;
    }
    .comms{
        font-size: 15px;
    }
    #dva {
        
        

    }
    .dva{
      
    
    }
  }
@media only screen and (min-width:901px) and (max-width:1199px) {
    
    header a{
        font-size: 90px;
    }
  }
@media only screen and (min-width:900px) and (max-width:1199px){
    
  header a{
      font-size: 25px;
  }
  video {
    height: 300px;
    width: 500px;

}
.comms{
    font-size: 15px;
}
}

@media(min-width: 760px) and (max-width: 1040px) {
    body {

        margin: 0%;


    }

    .dva {
      display: none;  
    }

    #intro {

        display: flex;
        justify-content: center;

    }

    video {

        margin-right: 0vw;
    }

    #video {

        width: 640px;
    }

    ul {
        font-size: 15px;
    }

    #titre {
        font-size: 15px;
    }

    #infotarif {
        display: none;
    }

    #infotarif2 {
        display: none;
    }

    #dva {
        display: none;

    }

    #commentairefirebase {
        width: 70%;
    }

    h1 {
        font-size: 35px;
    }

}

/* todo ---------------------------------------Responsive mediaquery phone ---------------------------------------*/
@media only screen and (min-width:760px) and (max-width:799px) {
    
  video{
      width: 80vw;
  }

}
@media only screen and (min-width:500px) and (max-width:759px) {
     #intro {

        display: flex;
        justify-content: center;


    }

 
    body {
        width: 100%;
        margin: 0%;
    }





    #navigation {
        width: 100vw;




    }

    .dva {
        display: none;
    }

    #dva {
        display: none;

    }

    ul {
        font-size: 10px;
    }

    video {
        margin-right: 0vw;
        width: 400px;
        height: 60%;
    }

    #infoparc {
        text-align: center;

        flex-direction: column;



    }

    #infoparc p {
        font-size: 12px;

    }

    #tarifs {
        width: 80%;



    }

    #dva {
        display: none;

    }

    #titre {
        font-size: 15px;
    }

    #infotarif {
        display: none;
    }

    #infotarif2 {
        display: none;
    }

    #commentairefirebase {
        width: 80%;
    }

    h1#titre {
        font-size: 15px;
        padding: 0%;
        width: 300px;
        text-align: center;
        margin-top: 9px;
    }

    header {
        display: flex;
        justify-items: center;
        background-color: black;
        padding-bottom: 12px;
        width: 100%;
    }

    header a {
        font-size: 11px;

    }

    header li {
        padding: 0%;
    }

    #logo_connexion2 {

        width: 40%;
    }

    #logo {
        transform: translate(12px, 0px);
        height: 30px;


    }
}

/* todo ---------------------------------------Responsive mediaquery phone ---------------------------------------*/

@media (max-width: 500px) {

    #intro {

        display: flex;
        justify-content: center;


    }

    body {
        width: 100%;
        margin: 0%;
    }





    #navigation {
        width: 100vw;
padding: 0%;



    }

    .dva {
        display: none;
    }

    #dva {
        display: none;

    }

    ul {
        font-size: 13px;
    }

    video {
        margin-right: 0vw;
        width: 300px;
        height: 40%;
    }

    #infoparc {
        text-align: center;

        flex-direction: column;



    }

    #infoparc p {
        font-size: 12px;

    }

    #tarifs {
        width: 80%;



    }

    #dva {
        display: none;

    }

    #titre {
        font-size: 15px;
    }

    #infotarif {
        display: none;
    }

    #infotarif2 {
        display: none;
    }

    #commentairefirebase {
        width: 80%;
    }

    h1#titre {
        font-size: 15px;
        padding: 0%;
        width: 300px;
        text-align: center;
        margin-top: 9px;
    }

    header {
        display: flex;
        justify-items: center;
        background-color: black;
        padding-bottom: 12px;
        width: 100%;
    }

    header a {
        font-size: 8px;

    }

    header li {
        padding: 0%;
    }

    #logo_connexion2 {

        width: 40%;
    }

    #logo {
        transform: translate(12px, 0px);
        height: 30px;

    }
}